h1{
    color:#A3A380;
    text-align: center;
    background-color: #D6CE93;
    text-decoration: underline overline;
    font-size: 80px;
    letter-spacing: 10px;
    font-family:fra;
}
body{
    background-color:#DBA159;
}